<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
<center>
<div style="font-family: lucida sans,sans serif;font-size:15px; width: fit-content;">
    <div class="container">
        <div class="">
            <img src="<%= process.env.BASE_URL%>assets/img/landing/strip-2.png" alt="" style="width:100%">
        </div>
        <div class="text-center" style="margin: auto;text-align: center;margin-top: 25px;margin-bottom: 25px;">
            <a style="text-decoration:none;cursor:pointer" href ="<%= process.env.BASE_URL%>assets/img/casestudy/download/iView Labs Brochure.pdf" download>
                <button class="btn" style="padding: 10px 15px;border-radius: 25px;color: #fff;background-color: #bb2428;border: 1px solid #bb2428;font-size: 14px;cursor: pointer;outline: 0;font-weight: normal;">Download Brochure</button>
            </a>
            <a style="text-decoration:none;cursor:pointer" href="<%= process.env.BASE_URL%>assets/img/casestudy/download/iView Labs Portfolio.pdf" download>
                <button class="btn" style="padding: 10px 15px;border-radius: 25px;color: #fff;outline: 0;background-color: #bb2428;border: 1px solid #bb2428;font-size: 14px;cursor: pointer;font-weight: normal;">Download Bulletin</button>
            </a>
        </div>
        <div style="background-color: rgb(232, 232, 232);padding:10px;">
            <div style="text-align:center;"><br>
                <p style="margin:0px;color:#bb2428;">
                    <b>iView Labs Pvt. Ltd.</b>
                </p>
                <p style="font-size:13px; margin:5px;color:#000">
                    1st Floor, Adit Medical Center, Off Rajiv Gandhi Underpass, Nr.Stadium Circle, Navrangpura,
                    Ahmedabad, Gujarat,<br> India-380009
                </p>
                <hr style="border:1px solid #bb2824">
                <p style="font-size:10px; margin:0 auto;">
                    <ul style="list-style-type: none;justify-content: center;display:flex;display: inline-flex;">
                        <li style="margin-right: 10px;">
                            <a class="text-decoration:none" target="_blank" href="https://www.facebook.com/iviewlabs">
                                <img alt="" src="<%= process.env.BASE_URL%>assets/img/landing/icn_fb.png">
                            </a>
                        </li>
                        <li style="margin-right: 5px;">
                            <a style="text-decoration:none" class="" target="_blank"
                                href="https://twitter.com/iviewlabs">
                                <img alt="" src="<%= process.env.BASE_URL%>assets/img/landing/icn_tw.png">
                            </a>
                        </li>
                        <li style="margin-right: 5px;">
                            <a style="text-decoration:none" class="" target="_blank"
                                href="https://www.linkedin.com/company/iviewlabs">
                                <img alt="" src="<%= process.env.BASE_URL%>assets/img/landing/icn_li.png">
                            </a>
                        </li>
                        <li style="margin-right: 5px;">
                            <a style="text-decoration:none" class="" target="_blank" href="http://blog.iviewlabs.com/">
                                <img alt="" src="<%= process.env.BASE_URL%>assets/img/landing/icn_bl.png">
                            </a>
                        </li>
                    </ul>
                    <p class="copyright" style="font-size: 13px;color:#000;margin-left: 0px;margin-left:50px;margin-top:0px;margin-top:-10px">&copy;Copyright by
                        iView Labs Pvt. Ltd. All rights reserved</p>
                </p>
                <hr style="border:5px solid #bb2824"><br>
            </div>
        </div>
    </div>
</div>
</center>
</body>
</html>
